#root {
  background-image: linear-gradient(
    180deg,
    $tertiary 0%,
    $background 15%,
    $background 85%,
    $tertiary 100%
  );
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  padding-bottom: 2rem; /* Footer height */
  margin: 5% 10% 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  @include for-size(tablet) {
    padding-bottom: 3rem; /* Footer height */
  }
  @include for-size(laptop) {
    margin-top: 0; /* Footer height */
  }
}

.spinner {
  position: fixed;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
