.input-tag {
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.input-tag__input {
  border: none;
  height: 20px;
  width: 100%;
  color: $text-color;
  background-color: inherit;
  &::placeholder {
    color: darken($text-color, 20%);
  }
  @include for-size(tablet) {
    font-size: 0.9em;
    padding: 10px;
  }
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 10px;
  &--add {
    border: 2px solid darken($primary, 15%);
  }
  &--edit {
    border: 2px solid darken($primary, 25%);
  }
}

.input-tag__tags li {
  align-items: center;
  border-radius: 7px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin: 2px;
  @include for-size(tablet) {
    font-size: 1.3em;
    padding: 10px;
  }
}

.input-tag__tags__tag {
  padding: 4px;
  &--add {
    background-color: darken($primary, 20%);
  }
  &--edit {
    background-color: darken($primary, 30%);
  }
}
.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #100e0e;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  width: 12px;
  height: 12px;
  justify-content: center;
  line-height: 0;
  margin-left: 4px;
  padding: 0;
  transform: rotate(45deg);
  @include for-size(tablet) {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin-left: 6px;
  }
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  width: 20%;
  padding: 0;
}
