.tasks {
  margin: 5px 0 5px 0;
  padding: 5px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px darken($primary, 15%);
  border-radius: 10px;
  &--add {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: lighten($primary, 10%);
  }
  &--edit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: lighten($primary, 10%);
  }
  &--current {
    background-color: lighten($primary, 5%);
  }
  &--finished {
    background-color: darken($primary, 10%);
  }
}
.tasks__header {
  width: 100%;
  font-size: 1.2em;
  padding: 5px 0px 5px 0px;
  border-bottom: 2px solid darken($tertiary, 20%);
}
.tasks__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.tasks__input {
  padding: 3px;
  background-color: inherit;
  box-sizing: border-box;
  flex-grow: 1;
  border-color: darken($tertiary, 20%);
  &::placeholder {
    color: darken($text-color, 20%);
  }
}
.tasks__label {
  padding-right: 5px;
  width: 20%;
  color: $text-color;
}
.tasks__button {
  border-color: darken($tertiary, 20%);
  background-color: lighten($primary, 5%);
  margin: 3px 1px 3px 1px;
  width: 65px;
  height: 25px;
  font-size: 0.8em;
  font-weight: 600;
  color: $text-color;
  border-radius: 10px;
  &--edit {
    width: 80px;
  }
}
.tasks__container {
  display: flex;
  flex-wrap: wrap;
}
.tasks__sort {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 0 7px 0;
  width: 100%;
  &__select {
    border-radius: 10px;
    border-color: darken($tertiary, 20%);
    background-color: inherit;
    padding: 4px;
    & option {
      background-color: lighten($primary, 10%);
    }
  }
}
.tasks__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.tasks__row {
  padding: 2px;
  width: 100%;
  display: flex;
  align-items: center;
}
.tasks__item {
  margin: 2px;
  list-style: none;
  border: 1px solid $tertiary;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  &__name {
    padding: 2px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__date {
    padding: 2px;
    display: flex;
    min-width: 35%;
    justify-content: center;
    align-items: center;
  }
  &__tags {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2px;
    flex-grow: 1;
    &__tag {
      align-items: center;
      background: #b79bd0;
      border-radius: 2px;
      color: white;
      display: flex;
      font-weight: 300;
      list-style: none;
      margin: 2px;
      padding: 2px 5px 2px 5px;
    }
  }
  &__buttons {
    padding: 2px;
    min-width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
  &__paragraph {
    font-size: 0.9em;
    &--finish-date {
      font-size: 0.6em;
      font-style: italic;
    }
  }
}
.tasks__icon {
  border-color: darken($tertiary, 20%);
  background-color: lighten($primary, 5%);
  color: $text-color;
}
