$primary: #784ba0;
$secondary: #2b86c5;
$tertiary: #ff3cac;
$text-color: #fefefe;

$margin-default-top: 5%;
$margin-default-right: 10%;
$margin-default-bottom: 5%;
$margin-default-left: 10%;

$margin-phone-top: 5%;
$margin-phone-right: 5%;
$margin-phone-bottom: 5%;
$margin-phone-left: 5%;

$margin-tablet-top: 10%;
$margin-tablet-right: 10%;
$margin-tablet-bottom: 10%;
$margin-tablet-left: 10%;

$margin-laptop-top: 15%;
$margin-laptop-right: 15%;
$margin-laptop-bottom: 15%;
$margin-laptop-left: 15%;

$margin-desktop-top: 20%;
$margin-desktop-right: 20%;
$margin-desktop-bottom: 20%;
$margin-desktop-left: 20%;
