.forms__header {
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 2em;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.forms__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.forms__input {
  width: 100%;
  height: 25px;
  padding: 5px 0px 5px 10px;
  margin: 7px 0px 7px 0px;
  border: 2px solid;
  border-color: lighten($tertiary, 10%);
  background-color: inherit;
  color: $text-color;
  &::placeholder {
    color: darken($text-color, 30%);
    font-size: 1.1em;
  }
  border-radius: 10px;
}
.forms__button {
  border-color: lighten($tertiary, 10%);
  background-color: darken($secondary, 5%);
  margin: 3px 1px 3px 1px;
  width: 85px;
  height: 35px;
  font-size: 0.8em;
  font-weight: 600;
  color: $text-color;
  border-radius: 10px;
}
.forms__error-text {
  height: 18px;
  padding: 5px 0px 5px 0px;
  font-style: italic;
  color: lighten(orange, 15%);
  text-align: center;
  width: 100%;
}
