.tasks {
  margin: 10px 0 15px 0;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  &__visibility {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 1;
      transition: opacity 300ms;
    }
    &-appear {
      opacity: 0;
    }
    &-appear-active {
      opacity: 1;
      transition: opacity 300ms;
    }
    &-exit {
      opacity: 1;
    }
    &-exit-active {
      opacity: 0;
      transition: opacity 300ms;
    }
  }
  &--add {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: darken($primary, 10%);
  }
  &--edit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: darken($primary, 15%);
  }
  &--current {
    background-color: darken($secondary, 10%);
  }
  &--finished {
    background-color: $tertiary;
  }
}
.tasks__header {
  cursor: pointer;
  width: 100%;
  font-size: 1.2em;
  padding: 7px 0px 7px 0px;
  border-bottom: 2px solid darken($tertiary, 20%);
  border-radius: 5px;
  @include for-size(tablet) {
    font-size: 1.8em;
  }
  @include for-size(laptop) {
    font-size: 1.4em;
  }
  @include for-size(desktop) {
    font-size: 1.6em;
  }
}
.tasks__form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.tasks__input {
  padding: 3px;
  background-color: inherit;
  box-sizing: border-box;
  flex-grow: 1;
  border: 2px solid darken($primary, 30%);
  border-radius: 10px;
  color: $text-color;
  &::placeholder {
    color: darken($text-color, 20%);
  }
  @include for-size(tablet) {
    font-size: 1.3em;
    padding: 10px;
  }
  @include for-size(laptop) {
    font-size: 1em;
    padding: 7px;
  }
}
.tasks__label {
  padding-right: 5px;
  color: $text-color;
  @include for-size(tablet) {
    font-size: 1.3em;
  }
  @include for-size(laptop) {
    font-size: 1.1em;
  }
  @include for-size(laptop) {
    padding-right: 25px;
  }
}
.tasks__button {
  cursor: pointer;
  border-color: darken($primary, 20%);
  background-color: darken($primary, 10%);
  margin: 3px 1px 3px 1px;
  width: 65px;
  height: 25px;
  font-size: 0.8em;
  font-weight: 600;
  color: $text-color;
  border-radius: 10px;
  &:hover {
    background-color: darken($primary, 20%);
    color: darken($text-color, 10%);
    transition: all 300ms;
  }
  @include for-size(tablet) {
    width: 115px;
    height: 45px;
    font-size: 1.1em;
    border-width: 3px;
  }
  @include for-size(laptop) {
    width: 75px;
    height: 35px;
    font-size: 0.9em;
  }
  &--edit {
    width: 85px;
    border-color: darken($primary, 30%);
    background-color: darken($primary, 20%);
    &:hover {
      background-color: darken($primary, 30%);
      transition: all 300ms;
    }
    @include for-size(tablet) {
      width: 115px;
    }
    @include for-size(laptop) {
      width: 95px;
    }
  }
}
.tasks__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  @include for-size(tablet) {
    padding: 15px;
  }
  @include for-size(tablet) {
    margin: auto;
    width: 75%;
  }
}
.tasks__sort {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 0 7px 0;
  width: 100%;
  color: $text-color;
  &__label {
    @include for-size(tablet) {
      font-size: 1.3em;
    }
    @include for-size(laptop) {
      font-size: 1.1em;
      margin-top: 0;
    }
  }
  &__select {
    cursor: pointer;
    border-radius: 10px;
    color: $text-color;
    background-color: inherit;
    padding: 4px;
    width: 60%;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 15px;
    background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
    background-repeat: no-repeat;
    background-position: 95% 42%;
    @include for-size(tablet) {
      font-size: 1.2em;
      border-width: 3px;
      width: 40%;
      margin-left: 5px;
    }
    @include for-size(laptop) {
      font-size: 1em;
    }
    &--current {
      border: 2px solid darken($secondary, 30%);
    }
    &--finished {
      border: 2px solid darken($tertiary, 30%);
    }
    & option {
      background-color: lighten($background, 10%);
      @include for-size(tablet) {
        font-size: 0.7em;
      }
      @include for-size(laptop) {
        font-size: 1em;
      }
    }
  }
}
.tasks__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.tasks__row {
  padding: 2px;
  margin: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include for-size(laptop) {
    padding: 2px 25px 2px 25px;
  }
}
.tasks__item {
  margin: 2px;
  list-style: none;
  border: 2px solid lighten($button-color, 10%);
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  &--current {
    border: 2px solid darken($secondary, 30%);
  }
  &--finished {
    border: 2px solid darken($tertiary, 30%);
  }
  &__name {
    padding: 2px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
  }
  &__date {
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
  }
  &__tags {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 4px;
    flex-grow: 1;
    &__tag {
      align-items: center;
      background: lighten($button-color, 10%);
      border-radius: 7px;
      color: white;
      display: flex;
      font-size: 0.8em;
      font-weight: 300;
      list-style: none;
      margin: 1px;
      padding: 4px;
      &--current {
        background-color: darken($secondary, 20%);
      }
      &--finished {
        background-color: darken($tertiary, 15%);
      }
      @include for-size(tablet) {
        font-size: 1.2em;
        padding: 8px;
      }
      @include for-size(laptop) {
        font-size: 1em;
        padding: 5px;
      }
    }
  }
  &__buttons {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    @include for-size(tablet) {
      padding: 5px;
    }
  }
  &__paragraph {
    font-size: 0.9em;
    padding: 1px;
    display: flex;
    align-items: center;
    @include for-size(tablet) {
      font-size: 1.2em;
    }
    @include for-size(laptop) {
      font-size: 1em;
    }
    @include for-size(desktop) {
      padding: 3px;
    }
    &--finish-date {
      font-size: 0.6em;
      font-style: italic;
    }
  }
  &__late-alert {
    color: red;
    background-color: #fefefe;
    padding: 1px;
    border: 1px solid red;
    border-radius: 50%;
  }
}
.tasks__icon {
  cursor: pointer;
  border-color: lighten($button-color, 20%);
  background-color: lighten($button-color, 10%);
  color: $text-color;
  &:hover {
    color: darken($text-color, 10%);
  }
  &--current {
    background-color: darken($secondary, 20%);
    border-color: darken($secondary, 10%);
    &:hover {
      background-color: darken($secondary, 30%);
      transition: all 300ms;
    }
  }
  &--finished {
    background-color: darken($tertiary, 15%);
    border-color: darken($tertiary, 10%);
    &:hover {
      background-color: darken($tertiary, 25%);
      transition: all 300ms;
    }
  }
  @include for-size(tablet) {
    font-size: 1.3em;
  }
  @include for-size(laptop) {
    font-size: 1em;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  &:hover {
    .tooltip__text {
      visibility: visible;
      opacity: 1;
    }
  }
  &__text {
    visibility: hidden;
    width: 120px;
    background-color: #d9534f;
    color: #fefefe;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #d43f3a transparent transparent transparent;
    }
  }
}
